.container.dark { background-color: #2c9a46; color: #374675; }
.container.light { background-color: #0a57f1; color: #07e68d; }
.container { font-family: cursive, sans-serif; padding: 30px; border-radius: 20px; max-width: 800px; margin: auto; }
.form-container { display: flex; gap: 15px; flex-wrap: wrap; }
.column { flex: 1; display: flex; flex-direction: column; gap: 10px; }
input, textarea, select { padding: 8px; border-radius: 5px; font-size: 16px; width: 100%; }
textarea { resize: none; height: 60px; }
button { padding: 10px; border-radius: 5px; cursor: pointer; margin-top: 10px; }
